---
import { marked } from "marked";
import type { JobExperience } from "../types";

interface Props extends Omit<JobExperience, "startDate" | "endDate"> {
  startDate: string;
  endDate: string;
}

const {
  role,
  companyFullName,
  company,
  startDate,
  endDate,
  isCurrentJob,
  shortDescriptionMd,
} = Astro.props;
---

<div class:list={["card h-fit", isCurrentJob && "highlight"]}>
  <h3 class="text-2xl font-semibold text-primary mb-1">
    {role}
  </h3>
  <p class="text-md text-foreground-muted mb-2">
    <span class="font-semibold text-foreground" title={companyFullName}>
      {company}
    </span>
    | {startDate} -
    {
      isCurrentJob ? (
        <span class:list={[isCurrentJob && "highlight"]}>{endDate}</span>
      ) : (
        endDate
      )
    }
  </p>
  {
    shortDescriptionMd && (
      <div
        class="prose prose-sm text-foreground space-y-1 mt-4"
        set:html={marked.parse(shortDescriptionMd ?? "")}
      />
    )
  }
</div>
